html,body{ width:100%; height:100%; margin:0;  padding:0;}
   
.con{
    margin-left:400px;
    font-size:30px;
    color:white;
    text-shadow:2px 2px black;
}

#name{
    margin-top:70px;
    font-size:30px;
}

#calendar{
    margin-top:30px;  
}

#location{
    margin-top:30px;
}    



.submitForm{
    margin-top:70px;
    font-size:45px;
}

.bg{
    padding:0; 
    width:100%;
    height:110%;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
}

